<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SmtpSettingsSection" type="Common.SmtpClient.SmtpSettingsSection, Common.SmtpClient"/>
  </configSections>

  <SmtpSettingsSection>
    <SmtpServers>
      <add host="111.222.33.44" port="25" switchOn="true"/>
    </SmtpServers>
    <Senders>
      <add name="DoNotReply" email="DoNotReply@mydomain.com" displayName="DO NOT REPLY TO THIS EMAIL"/>
    </Senders>
    <Recipients>
      <add groups="ConfirmBack" email="DoNotReply@mydomain.com" displayName="DO NOT REPLY TO THIS EMAIL"/>
    </Recipients>
  </SmtpSettingsSection>
</configuration>
